*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: sans-serif;
}

.container {
    width: 100%;
    height: 100%;
}

.head {
    width: 100%;
    display: flex;
    /* padding: 10px; */
    box-shadow: 0 0 5px grey;
    font-size: 20px;
    align-items: center;
}

.back {
    font-size: 30px;
    margin-left: 10px;
}

.imgUser {
    width: 35px;
    height: 35px;
    background-color: rgb(170, 163, 163);
    padding: 5px;
    border-radius: 50%;
    margin: 10px;
}

/* FIN HEAD*/

.tools {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    box-shadow: 0 0 5px grey;
    padding: 10px;
    align-items: center;
}

.tool-emoji {
    font-size: 20px;
}

.messaje {
    width: 60%;
    padding: 10px;
    border-radius: 40px;
    outline: none;
    border: 1px solid grey;
}

.sendMessaje {
    width: 34px;
}


/*FIN TOOLS*/


.mensajes {
    width: 100%;
    height: 100%;
    /* display: grid;
    grid-template-columns: repeat(2,1fr);
    text-align: center;
    position: absolute;
    bottom: 0;
    margin: auto; */
    /* display: flex; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

/* .space {
    background-color: none;
    padding: 10px;
} */

.el {
    width: 90%;
    margin: 10px;
    display: flex;
    flex-direction: column;
    /* background: #74959A; */
}


.mios {
    width: 90%;
    margin: 10px;
    display: flex;
    flex-direction: column;
    /* background: #98B4AA; */
    align-items: end;
}


.mensajeEl {
    padding: 5px;
    background: #74959A;
    width: fit-content;
    padding: 10px 10px;
    border-radius: 0px 5px 5px 15px;
    text-align: center;
}

.mensajeMio {
    padding: 5px;
    background: #98B4AA;
    width: fit-content;
    padding: 10px 10px;
    border-radius: 5px 0px 15px 5px;
    text-align: center;
}
